<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/style.css')}}">
        <title>Guardian</title>
        <script type="text/javascript">
            function createDependantOptions(){
                var dOptions = "";
                dependants = {{dList|tojson}};
                for (var i = 0; i < dependants.length; i++){
                    dOptions += "<option value='"+dependants[i]+"'>"+dependants[i]+"</option>";
                }
                document.getElementById('dependants').innerHTML = dOptions;
            }
        </script>
    </head>   

    <body onload="createDependantOptions()">
        <nav id="navbar">
          <div class="container">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/signup">Sign up</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </nav>
          
        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="center white-text">
                Welcome Guardian {{username}}!
            </h2>
            <div class="block">
                <form class="my-form" action="#" method="POST">
                    <div class="dropdown">
                        <label for="choose_dep">Choose a dependant</label>
                        <select name="dependants" id="dependants">
                        </select>
                    </div>
                    <p><input type="text" name="title" placeholder="Title of Reminder"></p>
                    <label for="meeting-time"> Choose a time to send</label>
                    <input type="datetime-local" name="meeting-time" value="2022-05-9T18:00" min="2022-05-09T05:00" max="2030-06-14T00:00">
                    <br>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Description of Reminder"></textarea>
                    <p><input class="button" type="submit", value="submit"/></p>
                </form>
            </div>
        </div>

        <footer id="main-footer">
          <p>Copyright &copy; 2022 A JKN Production</p>
      </footer>
    </body>
</html>