{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<section id="left-view">
    <h1 class="center">Oops, Almost Forgot!</h1>
    <p class="center"> Welcome to Almost Forgot!, the web app that helps 
        you stay connected and take care of your loved  ones!
    </p>
    <h2 class="center">Concept</h2>
    <p class="center">
        Creating an app that has permitted individuals, in this case guardians, 
        to send reminders to a user, senior citizens, and prompt their phone would 
        make this tedious process much simpler and faster. Our goal for this system is 
        to make a program that makes sure to allow senior citizens to remember important tasks 
        and allow guardians to still play a vital role by being able to create these reminders 
        for them. This can help combat memory loss that is often associated with aging. and is 
        significant because it's extremely common for the elderly to forget some of the daily tasks 
        which can often lead to depression due to the lack of stimulus. 
    </p>
</section>
{% endblock %}