{% extends "base.html" %}
{% block title %} Create Account Page {% endblock %}
{% block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="block">
    <h2 class="center">Sign Up</h2>
    <form class="my-form" action="#" method="POST">
        <p><input type="text", name="first_name" placeholder="First Name"/></p>
        <p><input type="text", name="last_name" placeholder="Last Name"/></p>
        <p><input type="text", name="username" placeholder="Username"/></p>
        <p><input type="text", name="email" placeholder="Email"/></p>
        <p><input type="password", name="password" placeholder="Password"></p>
        <label for="relationship">Guardian/Dependant?</label>
        <select name="relationship" id="relationship">
            <option value="Guardian">Guardian</option>
            <option value="Dependant">Dependant</option>
        </select>
        <p><input class="button" type="submit", value="submit"/></p>
        <br>
        <p class="center">Already have an account?<a href='/'> Login</a></p>
    </form>
</div>
{% endblock %}