/* HTML Tags */
body {
    background:linear-gradient(to right, #0b9ad7, skyblue)
}

h1 {
  color: #0b9ad7;
  margin-left: 0px;
}

html * {
  line-height: 1.625;
  font-family: Tahoma;
}

h2 {
  color: #0b9ad7;
  margin-left: 0px;
}

input {
  border:none;
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding: 5px 5px;
  border-radius: 30px;
  box-shadow: -5px 5px 50px 0 #eaf0ee;
}

/* Classes */
.center{
  text-align: center;
}

.container{
  width:80%;
  margin:20px;
  overflow:hidden;
}

.my-form{
  padding:10px
}

.my-form .form-group{
  padding:5px
}

.my-form input[type="text"] .my-form input[type="password"]{
  padding:8px;
  width:80%;
}

.my-form textarea{
  border:none;
  border-radius:10px;
}

.my-form label{
  color:gray;
  font-size:0.875em;
}

.my-form .dropdown{
  text-align: center;
}

.button{
  background-color:#0b9ad7;
  padding:10px 15px;
  border:none;
  border-radius: 5px;
  color:white
}

.block{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 80px 40px 80px;
  border-radius:10px;
  background:snow;
}

.white-text{
  color:white;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1;
}


/* IDs */
#navbar{
  background: linear-gradient(to right, #0b9ad7, skyblue);
}

#navbar ul{
  padding:0;
  list-style:none;  
}

#navbar li{
  display:inline;
}

#navbar a{
  color:white;
  text-decoration:none;
  font-size:18px;
  padding-right:20px;
}

#left-view{
  float:left;
  width:40%;
  padding:15px;
  height:550px;
  border-radius:10px;
  margin-top:70px;
  margin-left:30px;
  margin-bottom:50px;
  background:snow;
}

#right-view{
  float:right;
  width:30%;
  padding:5px;
  height:350px;
  margin:185px 150px 20px 50px;
  box-sizing:border-box;
  border-radius: 10px;
  background:snow;
}

#home-login{
  margin:auto;
  width:60%;
  padding:10px;
}

#main-footer{
  text-align:center;
  padding:2px;
  margin-top:80px;
  position:fixed;
  bottom:0;
  width:100%;
  height:2.5rem;
}