/* HTML Tags */
body {
    background:linear-gradient(to right, #ff106f, #ffad06)
}

h1 {
  color: #ff106f;
  margin-left: 0px;
  
}

html * {
  line-height: 1.625;
  font-family: Tahoma;
}

h2 {
  color: #ff106f;
  margin-left: 0px;
}

input {
  border:none;
  padding: 30px 25px;
  border-radius: 30px;
  box-shadow: -5px 5px 50px 0 #eaf0ee;
}

/* Classes */
.center{
  text-align: left;
}

.container{
  width:80%;
  margin:20px;
  overflow:hidden;
}

.my-form{
  padding:10px;
}

.my-form .form-group{
  padding-bottom:15px;
}

.my-form input[type="text"], .my-form input[type="password"], .my-form textarea{
  padding:8px;
  width:80%;
}

.button{
  background-color:#ff7c10;
  padding:10px 15px;
  border:none;
  border-radius: 5px;
}

/* IDs */
#navbar{
  background: linear-gradient(to right, #ff106f, #ffad06);
}

#navbar ul{
  padding:0;
  list-style:none;  
}

#navbar li{
  display:inline;
}

#navbar a{
  color:white;
  text-decoration:none;
  font-size:18px;
  padding-right:20px;
}

#left-view{
  float:left;
  width:40%;
  padding:15px;
  height:550px;
  border-radius:10px;
  margin-top:70px;
  margin-left:30px;
  background:white;
}

#right-view{
  float:right;
  width:30%;
  padding:5px;
  height:275px;
  margin:185px 150px 20px 50px;
  box-sizing:border-box;
  border-radius: 10px;
  background:white;
}

#home-login{
  margin:auto;
  width:60%;
  padding:10px;
}

#main-footer{
  text-align:center;
  padding:2px;
  margin-top:80px;
  position:fixed;
  bottom:0;
  width:100%;
  height:2.5rem;
}